body {
    font-size: 16pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgb(155,32,11);
    background: linear-gradient(27deg, rgba(155,32,11,1) 12%, rgba(9,41,121,1) 62%, rgba(0,255,149,1) 91%); 
    color: white;
    height: 100vh;
}
h1 {
    font-size: 50pt;
    text-transform: uppercase;
    text-align:center;
}

h2 {
    text-align: center;
    font-size: 40pt;
}

h3 {
    text-align: center;
    font-size: 30pt;
}

.form{
    float: left;
    width: 40%;
    border: 2px solid white;
    margin: 3rem;
    text-align: center;
}

.form a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.form img{
    padding: 2rem;
    filter:invert(100%);
}

.form:hover{
    background: rgb(9,41,121);
    background: linear-gradient(27deg, rgba(9,41,121,1) 19%, rgba(155,32,11,1) 96%); 
    box-shadow: black 2px solid;
}


.form:hover p{
    font-size: 20pt;
}

.form:hover img{
    animation: effect 2s linear infinite;
}

.game img{
    padding: 2rem;
    filter:invert(100%);
}

.game a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.game{
    float: right;
    width: 40%;
    border: 2px solid white;
    margin: 3rem;
    text-align: center;
}

.game:hover{
    background: rgb(11,155,62);
    background: linear-gradient(27deg, rgba(11,155,62,1) 5%, rgba(11,151,64,1) 7%, rgba(9,41,121,1) 41%, rgba(155,32,11,1) 97%); 
}

.game:hover p{
    font-size: 20pt;
}

.game:hover img{
    animation: effect 2s linear infinite;
}


@keyframes effect { 
    0% { 
        transform: rotate3d(0, 1, 0, 0deg); 
    }
    10% {
        transform: rotate3d(0, 1, 0, 36deg);
    } 
    20% {
        transform: rotate3d(0, 1, 0, 72deg);
    }
    30% {
        transform: rotate3d(0, 1, 0, 108deg);
    }
    40% {
        transform: rotate3d(0, 1, 0, 144deg);
    }
    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
    60% {
        transform: rotate3d(0, 1, 0, 216deg);
    }
    70% {
        transform: rotate3d(0, 1, 0, 252deg);
    }
    80% {
        transform: rotate3d(0, 1, 0, 288deg);
    }
    90% {
        transform: rotate3d(0, 1, 0, 324deg);
    }
    100% { 
        transform: rotate3d(0, 1, 0, 360deg);
    } 