body{
    font-size: 16pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgb(87,10,10);
    background: linear-gradient(90deg, rgba(87,10,10,1) 0%, rgba(125,24,24,1) 44%, rgba(245,65,98,1) 100%);  
    color: white;
    height: 100vh;
    text-align: center;
}

h1{
	font-size: 50pt;
	text-align: center;
	color: white;
}

table{
    font-size: 20pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
	text-align: center;
    border-spacing: 25px;
}

a{
    color: white;
}
