.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: 16pt;
  padding: 3rem;
}

.App-header {
  text-align: center;
  font-size: 50pt;
}

.content{
  margin: 2rem;
  padding: 3rem;
}

.gallery{
  margin: 2rem;
  padding: 3rem;
}
h3 {
  font-size: 25pt;
}

Link {
  width: max-content;
  justify-content: center;
  padding: 1rem;
}

.image {
  padding: 1rem;
}

.place {
  background-color: blue;
}