body {
    overflow-x: hidden;
    background-color: rgba(76, 109, 38, 0.733);
}

header {
    margin-top:4rem;
    color:white;
    padding-top: 1rem;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
    font-weight: bold;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color:black;
    width: 100%; 
    height: 1.5rem; 
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.bg_img{
    display:block;
    margin-left:auto; 
    margin-right: auto; 
    top: auto;width: 80%;
    z-index: -2;
    position: absolute;
    top: 20%;
    left:10%;
    filter: blur(3px);
}

.navbar{
    display:flex;
    list-style-type:none;
    flex-direction:row;
    padding-left: 30rem;
    padding-top: 30px;
    font-size: larger;
}

.navbar li {
    padding:10px;
}

.navbar li a{
    text-decoration:none;
    color:black;
    display:block;
}

.navbar li :hover{
    background-color: white;
}

.content{
    margin:1rem;
    padding:0.5rem;
    box-sizing:border-box;
    border: 3px solid #f1f1f1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(26, 59, 43, 0.486);
}

@keyframes logo_animate {
    0%   {background-color:white; transform: rotate(0deg);}
    25%  {background-color:rgb(122, 122, 122); transform: rotate(90deg);}
    50%  {background-color:black; transform: rotate(180deg);}
    75%  {background-color:rgb(122, 122, 122); transform: rotate(270deg);}
    100% {background-color:white; transform: rotate(360deg);}
  }

  .logo{
    position:absolute;
    top:25px;
    left:25px;
    width:100px; 
    height:50px; 
    animation-name: logo_animate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
/*-----------------------------------------------------------------------------------------------*/

.committee_content{
    list-style-type: none;
}

.committee_content li {
    text-indent: 3rem;
}

.committee_content li h3 {
    text-transform: uppercase;
    font-weight: 700;
}

/*-----------------------------------------------------------------------------------------------*/

.track_list li{
    text-indent: 3rem;
}

.track_list li p{
    font-weight: 700;
}

.track_list li ul {
    list-style-type: circle;
}

/*-----------------------------------------------------------------------------------------------*/

.mail{
    text-decoration: none;
    color: white;
}